.load {
	max-width: 80%;
}

.foodlist {
	border: 1em solid black;
	margin: 10px 50px;
}

.foodimg {
	margin: auto;
	text-align: center;
}

.yelplogo {
	width: 20%;
	height: 10%;
	float: right;
}

.details {
	padding: 10px;
}

.bizname {
	font-size: 25px;
	font-weight: 700;
}

#cafes {
	width: 35%;
}